<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nowcoder.community.dao.CommentMapper">

    <sql id="selectFields">
        id, user_id as userId, entity_type as entityType, entity_id as entityId, target_id as targetId, content, status, create_time as createTime
    </sql>

    <select id="getCommentsRows" resultType="int">
        select count(id)
        from comment
        where status=0
        and entity_id = #{entityId}
        and entity_type=#{entityType}
    </select>

    <select id="getComments" resultType="Comment">
        select <include refid="selectFields"></include>
        from comment
        where status=0
        and entity_type=#{entityType}
        and entity_id=#{entityId}
        order by create_time asc
        limit #{offset}, #{limit}

    </select>
</mapper>
