<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nowcoder.community.dao.LoginTicketMapper">
    <sql id="getFields">
        id, user_id as userId, ticket, status, expired
    </sql>

    <select id="getTicket" resultType="LoginTicket">
        select <include refid="getFields"></include>
        from login_ticket
        where
        ticket=#{ticket}
    </select>

    <insert id="insertTicket" keyProperty="id" useGeneratedKeys="true">
        insert into login_ticket(user_id,ticket,status,expired)
        values(#{userId}, #{ticket}, #{status}, #{expired})
    </insert>

    <update id="updateStatus" >
        update login_ticket
        set status=#{status}
        where
        ticket=#{ticket}
    </update>

</mapper>
